h5,p,#aboutme{
 font-family: 'Courgette',cursive; 
/* font-family: 'Ranchers', cursive; */ 

}
/* navbar---my name (common in every file)*/
.navbar-brand{
    font-size: 24px;
    font-weight: bold;
    
}
/* all files..heading contact */
h1{
    color:cadetblue;
}
/* all files */
.container{
    margin-top: 30px; 
    margin-bottom: 40px; 

}
/* portfolio file..images */
img{
    margin:10px;
   }
h4{
    color:rgb(43, 134, 125);
}







